* {
    margin: 0;
    padding: 0;
    
}

.back {
    background-color:hsl(214, 21%, 94%)
   
}

.margen {
    padding-right:45%;
}

.bottom {

}

.footer {
    background-color:hsl(233, 26%, 24%)
}


